html {
	height: 100%;
	font-size: 62.5%;
}

body {
	height: 100%;
	font-size: 1.6rem;
	line-height: 1.4;
	font-weight: 400;
	font-family: Arial, Verdana, sans-serif;
	background-color: var(--white);
	color: var(--black);
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.main {
	position: relative;
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.container {
	max-width: $cont_width + px;
	margin: 0 auto;
	padding: 0 1.5rem;
}
