$mds1: 1200px;
$mds2: 992px;
$mds3: 768px;
$mds4: 576px;

$cont_width: 1230;

:root {
  --black: #000000;
  --white: #ffffff;
  --white-100: #fafafa;
  --gray: #808080;
  --gray-100: #babdbf;
  --gray-200: #ededed;
  --green: #008000;
  --green-100: #4bb24e;
  --green-200: #47a34b;
  --blue-100: #3c9df2;
  --blue-200: #1785e5;
  --blue-300: #167ed9;
  --blue-400: #61aef2;
  --blue-500: #5796cf;
  --red: #ff0000;
  --yellow: #eeee10b7;
}
