.employer {
    margin-bottom: 3rem;

    &__box {
        display: flex;
        column-gap: 1rem;
    }

    &__left {
        flex: 1 1 20%;
        padding: 2rem;
        background-color: var(--white-100);
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }

    &__right {
        flex: 1 1 80%;
        padding: 0 1.5rem;
    }

    &__img {
        margin: 0 auto;
        &[data-valid="true"] {
            display: none;
        }
    }
}

.emp-list {
    &__item {
        text-align: center;

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    &__name {
        margin-bottom: 1rem;
    }

    &__link {
        color: var(--blue-100);
    }

    &__title {
        font-weight: 700;
    }
}

.emp-buttons {
    &__item {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__btn {
        border: 1px solid var(--gray-100);
        padding: 1rem;
        width: 100%;
        border-radius: 5px;
        transition: background-color 0.5s ease-in-out;

        &:hover {
            background-color: var(--gray-200);
        }
    }
}
