.vacancies-filter-page{
    display: flex;
    flex-direction: row;
    max-width:1200px;
    margin-left: calc(50% - 600px);
    .vacancies-list-block{
        min-height:100px;
        width:calc(100% - 300px);
        .vacancies-list-block-h2{
            margin:30px;
        }
    }
    .vacancies-filter-block{
        min-width:300px;
        max-width:300px;
        position: sticky; 
        bottom: 0;
        margin-left:10px;
        h2{
            color:grey;
            font-size:1.8rem;
            margin-left:20px;
        }
    }
}
.vacancies-loading-block{
    .vacancies-loading-h2{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height:300px;
        background:#edeff0;
        margin:0px;
    }
}
.vacancies-filter-pagination{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
.vacancies-loading-data{
    display: flex;
    background:#edeff0;
    justify-content: center;
    width:100%;
    h2{
        top:50px;
        font-size:3rem;
        color:grey;
        text-align:center;
    }
}
