.descriptions {
    margin-bottom: 3rem;

    &__btn-prev {
        margin-bottom: 2rem;
        width: 5rem;
        height: 5rem;
        position: relative;
        transform: rotate(180deg);

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 5rem;
            height: 5rem;
            background: url("./img/icon/arrow.png") no-repeat center/cover;
            transition: transform 0.5s ease-in-out;
        }

        &:hover {
            &::before {
                transform: scale(0.9);
            }
        }
    }

    &__top,
    &__brends {
        box-shadow: 0 2px 12px 0 rgb(48 50 51 / 10%);
        border-radius: 4px;
        padding: 2.8rem;
        margin-bottom: 3rem;

        .vacancies__salary {
            display: block;
            font-size: 2.4rem;
            margin-bottom: 2rem;
        }
    }

    &__title {
        font-size: 3.2rem;
        font-weight: 700;
        margin-bottom: 1.6rem;
    }

    &__employment {
        margin-bottom: 2.8rem;
        display: block;
    }

    &__top-buttons {
        display: flex;
        justify-content: space-between;
        column-gap: 2rem;
    }

    &__top-item {
        border: 1px solid var(--green-100);
        flex: 1 1 32rem;
        text-align: center;
        border-radius: 5px;

        &:last-child {
            flex: 0 1 4.8rem;
        }
    }

    &__top-btn,
    &__top-link {
        width: 100%;
        padding: 1.3rem;
        transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    }

    &__top-link {
        background-color: var(--green-100);
        color: var(--white);

        &:hover {
            border-color: var(--green-200);
            background-color: var(--green-200);
        }
    }

    &__top-btn {
        &:hover {
            background-color: var(--green-100);
            color: var(--white);
        }
    }

    &__top-item--employer {
        position: relative;
        overflow: hidden;

        &.active {
            background-color: var(--green-100);
            color: var(--white);
            overflow: visible;

            .descriptions__top-item_info {
                opacity: 1;
            }
        }
    }

    &__top-item_info {
        color: var(--black);
        background-color: var(--white);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        border: 1px solid var(--green-100);
        border-radius: 5px;
        transition: opacity 0.6s ease-in-out;
        opacity: 0;
        padding: 15px 15px 15px 20px;
    }

    &__top-btn--favorite {
        position: relative;
        height: 100%;

        &::before {
            content: "";
            position: absolute;
            top: calc(50% - 1.2rem);
            left: calc(50% - 1.2rem);
            width: 2.4rem;
            height: 2.4rem;
            background: url("./img/icon/icon-favorit.jpg") no-repeat center/cover;
        }
    }

    &__content {
        margin-bottom: 4rem;

        p {
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        ul {
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }

        li {
            &::before {
                content: "— ";
            }

            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }

    &__skills {
        margin-bottom: 2rem;
    }

    &__contact {
    }
}

.top-info {
    &__title,
    &__phone {
        margin-bottom: 1rem;
    }

    &__phone,
    &__email {
        color: var(--blue-100);
    }

    &__phone-link,
    &__email {
        position: relative;
        padding-left: 3rem;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 1rem;
            height: 1rem;
        }
    }

    &__phone-link {
        &::before {
            content: "📞";
        }
    }

    &__email {
        &::before {
            content: "📧";
        }
    }
}

.des-contanct {
    position: relative;

    &.active {
        .des-contanct {
            &__box {
                opacity: 1;
            }
        }
    }

    &__title {
        margin-bottom: 1rem;
        font-size: 3.2rem;
        font-weight: 700;
    }

    &__box {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--white);
        opacity: 0;
        padding: 2rem 3rem;
    }

    &__name {
        margin-bottom: 1rem;
    }

    &__phone {
        margin-bottom: 1rem;
    }

    &__phone-link,
    &__email {
        color: var(--blue-100);
    }

    &__phone-link {
        &::before {
            content: "📞 ";
        }
    }

    &__email {
        &::before {
            content: "📧 ";
        }
    }

    &__btn {
        border: 1px solid var(--blue-200);
        border-radius: 5px;
        padding: 1.1rem;
        transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

        &:hover {
            background-color: var(--blue-300);
            color: var(--white);
        }
    }
}
